<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="directorioServidor" value="http://148.220.18.180/empleo/"/>
  </appSettings>
  <connectionStrings>
    <add name="empleoConnectionString" connectionString="Data Source=148.220.38.243;Initial Catalog=empleo;Persist Security Info=True;User ID=sa;Password=5f2LQ9qSrE@FVF%we@TE"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="es" culture="es-MX" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="10" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--configuracion del cliente smtp-->
        <network host="smtp.live.com" defaultCredentials="false" port="587" userName="dsiv.uaq@hotmail.com" password="2T*1xWHdAM8K23D2" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
